.spinner-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.custom-spinner {
  border: 6px solid #e0e0e0;
  border-top: 6px solid #248cfb;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.notproj {
  font-size: 1.2rem;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
